<!-- <ul class="list-inline text-center">
  <% ["Gjlegrandfr", "hugosola"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
      <h3><%= gh_username.capitalize %></h3>
    </li>
  <% end %>
</ul>

 -->
<body cz-shortcut-listen="true">
  <div id="about">
    <div class="about-content">
      <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
        <ul class="list-inline">
          <li>
            <a href="https://kitt.lewagon.com/alumni/hugosola" target="_blank">
              <img src="https://kitt.lewagon.com/placeholder/users/hugosola" class="img-circle" alt="hugosola">
            </a>
            <h2>Hugo Sola</h2>
            <p>
              <a href="https://github.com/hugosola" target="_blank">
                <i class="fa fa-github"></i> hugosola
              </a>
            </p>
          </li>
          <li>
            <a href="https://kitt.lewagon.com/alumni/Gjlegrandfr" target="_blank">
              <img src="https://kitt.lewagon.com/placeholder/users/Gjlegrandfr" class="img-circle" alt="Gjlegrandfr">
            </a>
            <h2>Guillaume Legrand</h2>
            <p>
              <a href="https://github.com/Gjlegrandfr" target="_blank">
                <i class="fa fa-github"></i> Gjlegrandfr
              </a>
            </p>
          </li>
        </ul>
    </div>
  </div>
</body>
